In [12]:
import pandas as pd

In [74]:
df = pd.read_csv("data/서울시 부동산 전월세가 정보_2021.csv",encoding='cp949')
df1 = pd.read_csv("data/서울시 부동산 전월세가 정보_2022.csv",encoding='cp949')
df_sub = df.loc[df['전월세 구분']=='월세']
df1_sub = df1.loc[df['전월세 구분']=='월세']

C:\Users\Taeho\AppData\Local\Temp\ipykernel_12408\540130623.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/서울시 부동산 전월세가 정보_2021.csv",encoding='cp949')
C:\Users\Taeho\AppData\Local\Temp\ipykernel_12408\540130623.py:2: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("data/서울시 부동산 전월세가 정보_2022.csv",encoding='cp949')

In [79]:
df_sub = pd.concat([df_sub,df1_sub])

In [81]:
songpa = df_sub.loc[df_sub['자치구명']=='중구']
songpa

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
41,2021,11140,중구,17400,만리동2가,1.0,대지,176.0,1.0,6.0,...,40000,150,서울역센트럴자이,2017.0,아파트,22.02~24.02,신규,NaN,0.0,0.0
123,2021,11140,중구,16200,신당동,1.0,대지,844.0,0.0,14.0,...,2955,6,남산타운(임대),2002.0,아파트,NaN,NaN,NaN,NaN,NaN
267,2021,11140,중구,16200,신당동,NaN,NaN,NaN,NaN,NaN,...,10000,100,NaN,1993.0,단독다가구,22.01~24.01,신규,NaN,0.0,0.0
685,2021,11140,중구,15800,충무로3가,1.0,대지,49.0,0.0,8.0,...,1000,80,엘크루 메트로시티,2013.0,오피스텔,22.01~23.01,신규,NaN,0.0,0.0
691,2021,11140,중구,16200,신당동,1.0,대지,844.0,0.0,7.0,...,50000,110,남산타운,2002.0,아파트,22.02~24.02,신규,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374391,2022,11140,중구,16200,신당동,NaN,NaN,NaN,NaN,NaN,...,1000,30,NaN,1963.0,단독다가구,NaN,NaN,NaN,NaN,NaN
374866,2022,11140,중구,16200,신당동,NaN,NaN,NaN,NaN,NaN,...,1000,55,NaN,2000.0,단독다가구,NaN,NaN,NaN,NaN,NaN
375451,2022,11140,중구,16500,황학동,1.0,대지,2545.0,0.0,26.0,...,20000,60,롯데캐슬,2008.0,아파트,NaN,NaN,NaN,NaN,NaN
375777,2022,11140,중구,16200,신당동,NaN,NaN,NaN,NaN,NaN,...,1000,50,NaN,1989.0,단독다가구,NaN,NaN,NaN,NaN,NaN
376133,2022,11140,중구,12900,남산동2가,1.0,대지,42.0,0.0,2.0,...,10000,50,남산퍼시픽,2003.0,아파트,NaN,NaN,NaN,NaN,NaN

In [82]:
songpa['신규갱신여부'].value_counts()

신규    1669
갱신     334
Name: 신규갱신여부, dtype: int64

In [83]:
songpa_gangsin = songpa.loc[songpa['신규갱신여부']=='갱신']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 2147 to 361938
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   접수연도       334 non-null    int64
 1   자치구코드      334 non-null    int64
 2   자치구명       334 non-null    object
 3   법정동코드      334 non-null    int64
 4   법정동명       334 non-null    object
 5   지번구분       299 non-null    float64
 6   지번구분명      299 non-null    object
 7   본번         299 non-null    float64
 8   부번         299 non-null    float64
 9   층          299 non-null    float64
 10  계약일        334 non-null    int64
 11  전월세 구분     334 non-null    object
 12  임대면적(㎡)    334 non-null    float64
 13  보증금(만원)    334 non-null    int64
 14  임대료(만원)    334 non-null    int64
 15  건물명        299 non-null    object
 16  건축년도       329 non-null    float64
 17  건물용도       334 non-null    object
 18  계약기간       318 non-null    object
 19  신규갱신여부     334 non-null    object
 20  계약갱신권사용여부  210 non-null    object
 21  종전 보증금     334 non-null    float64
 22  종전 임대료     195 non-null    float64
dtypes: float64(8), int64(6), object(9)
memory usage: 62.6+ KB

In [84]:
songpa_gangsin = songpa_gangsin.drop(['지번구분', '지번구분명', '본번', '부번', '건물명', '계약일', '전월세 구분', '계약기간', '신규갱신여부', '계약갱신권사용여부', '자치구코드', '자치구명', '법정동코드'], axis=1)

In [85]:
songpa_gangsin = songpa_gangsin.loc[songpa_gangsin['건물용도']!='아파트']

In [86]:
songpa_dum = pd.get_dummies(data = songpa_gangsin, columns=['법정동명'])
songpa_dum = pd.get_dummies(data = songpa_dum, columns=['건물용도'])
songpa_dum

,접수연도,층,임대면적(㎡),보증금(만원),임대료(만원),건축년도,종전 보증금,종전 임대료,법정동명_광희동2가,법정동명_만리동1가,...,법정동명_충무로2가,법정동명_충무로3가,법정동명_충무로5가,법정동명_필동3가,법정동명_황학동,법정동명_회현동1가,법정동명_흥인동,건물용도_단독다가구,건물용도_연립다세대,건물용도_오피스텔
7697,2021,NaN,49.36,10000,20,1980.0,10000.0,15.0,0,0,...,0,0,0,0,0,0,0,1,0,0
29704,2021,NaN,43.00,13000,20,1948.0,13000.0,0.0,0,0,...,0,0,0,0,0,0,0,1,0,0
41574,2021,4.0,71.44,6000,126,2013.0,6000.0,120.0,0,0,...,0,0,0,0,0,0,0,0,1,0
55952,2021,NaN,40.00,7000,32,2001.0,10000.0,17.0,0,0,...,0,0,0,1,0,0,0,1,0,0
56169,2021,3.0,18.60,500,73,2007.0,500.0,70.0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328328,2022,NaN,39.80,13650,0,1993.0,13000.0,NaN,0,0,...,0,0,0,0,0,0,0,1,0,0
338284,2022,5.0,18.18,1000,68,2018.0,1000.0,64.0,0,0,...,0,0,0,0,0,0,0,0,0,1
339502,2022,19.0,28.94,1000,95,2013.0,1000.0,90.0,0,0,...,0,1,0,0,0,0,0,0,0,1
343511,2022,4.0,27.99,19425,0,2013.0,18500.0,NaN,0,0,...,0,0,0,0,0,0,0,0,1,0
346606,2022,1.0,29.66,15000,25,2012.0,15000.0,20.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [87]:
songpa_dum['층'] = songpa_dum['층'].fillna(1)
songpa_dum

,접수연도,층,임대면적(㎡),보증금(만원),임대료(만원),건축년도,종전 보증금,종전 임대료,법정동명_광희동2가,법정동명_만리동1가,...,법정동명_충무로2가,법정동명_충무로3가,법정동명_충무로5가,법정동명_필동3가,법정동명_황학동,법정동명_회현동1가,법정동명_흥인동,건물용도_단독다가구,건물용도_연립다세대,건물용도_오피스텔
7697,2021,1.0,49.36,10000,20,1980.0,10000.0,15.0,0,0,...,0,0,0,0,0,0,0,1,0,0
29704,2021,1.0,43.00,13000,20,1948.0,13000.0,0.0,0,0,...,0,0,0,0,0,0,0,1,0,0
41574,2021,4.0,71.44,6000,126,2013.0,6000.0,120.0,0,0,...,0,0,0,0,0,0,0,0,1,0
55952,2021,1.0,40.00,7000,32,2001.0,10000.0,17.0,0,0,...,0,0,0,1,0,0,0,1,0,0
56169,2021,3.0,18.60,500,73,2007.0,500.0,70.0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328328,2022,1.0,39.80,13650,0,1993.0,13000.0,NaN,0,0,...,0,0,0,0,0,0,0,1,0,0
338284,2022,5.0,18.18,1000,68,2018.0,1000.0,64.0,0,0,...,0,0,0,0,0,0,0,0,0,1
339502,2022,19.0,28.94,1000,95,2013.0,1000.0,90.0,0,0,...,0,1,0,0,0,0,0,0,0,1
343511,2022,4.0,27.99,19425,0,2013.0,18500.0,NaN,0,0,...,0,0,0,0,0,0,0,0,1,0
346606,2022,1.0,29.66,15000,25,2012.0,15000.0,20.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [88]:
songpa_dum = songpa_dum.dropna()

In [89]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(songpa_dum.drop('임대료(만원)', 1), songpa_dum['임대료(만원)'], random_state=0)

C:\Users\Taeho\AppData\Local\Temp\ipykernel_12408\1362039182.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x_train, x_test, y_train, y_test = train_test_split(songpa_dum.drop('임대료(만원)', 1), songpa_dum['임대료(만원)'], random_state=0)

In [95]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
model = LinearRegression().fit(x_train, y_train)
pred = model.predict(x_test)
mean_squared_error(y_test, pred)

79.94244102251403

In [97]:
r2_score(y_test, pred)

0.9308773670354122

In [92]:
sampledata_x

,접수연도,층,임대면적(㎡),보증금(만원),건축년도,종전 보증금,종전 임대료,법정동명_만리동1가,법정동명_만리동2가,법정동명_순화동,...,법정동명_충무로5가,법정동명_필동3가,법정동명_황학동,법정동명_회현동1가,법정동명_회현동2가,법정동명_흥인동,건물용도_단독다가구,건물용도_아파트,건물용도_연립다세대,건물용도_오피스텔
107416,2021,1.0,23.0,3000,1993.0,4000.0,35.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [106]:
idx=4
sampledata_x=x_test.iloc[[idx],]
sampledata_y=y_test.iloc[[idx],]

print(f'실제 값: {sampledata_y}, 예측값: {model.predict(sampledata_x)}')

실제 값: 80119    59
Name: 임대료(만원), dtype: int64, 예측값: [55.45318692]