In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("dataset/서울시 부동산 전월세가 정보_2022.csv", encoding='cp949')
df.head()

C:\Users\hyeok\AppData\Local\Temp\ipykernel_3336\2609908698.py:1: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset/서울시 부동산 전월세가 정보_2022.csv", encoding='cp949')

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
0,2022,11350,노원구,10500,상계동,1.0,대지,1264.0,0.0,12.0,...,2676,2,은빛3단지,1998.0,아파트,NaN,NaN,NaN,NaN,NaN
1,2022,11170,용산구,10100,후암동,1.0,대지,406.0,73.0,2.0,...,19845,0,(406-73),2008.0,연립다세대,NaN,NaN,NaN,NaN,NaN
2,2022,11260,중랑구,10400,묵동,1.0,대지,169.0,12.0,12.0,...,3000,49,로프트원태릉입구역,2020.0,아파트,NaN,NaN,NaN,NaN,NaN
3,2022,11740,강동구,10500,길동,1.0,대지,407.0,3.0,4.0,...,18900,4,(407-3),2010.0,연립다세대,NaN,NaN,NaN,NaN,NaN
4,2022,11500,강서구,10900,방화동,1.0,대지,839.0,0.0,4.0,...,16000,20,방화그린,1993.0,아파트,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '층', '계약일', '전월세 구분', '임대면적(㎡)', '보증금(만원)', '임대료(만원)', '건물명', '건축년도',
       '건물용도', '계약기간', '신규갱신여부', '계약갱신권사용여부', '종전 보증금', '종전 임대료'],
      dtype='object')

In [6]:
#필요없는 컬럼 drop
df=df.drop(['자치구코드','법정동코드','지번구분','지번구분명','본번','부번','계약기간', '신규갱신여부', '계약갱신권사용여부'],1)
df.head()

C:\Users\hyeok\AppData\Local\Temp\ipykernel_3336\1935332148.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df=df.drop(['자치구코드','법정동코드','지번구분','지번구분명','본번','부번','계약기간', '신규갱신여부', '계약갱신권사용여부'],1)

,접수연도,자치구명,법정동명,층,계약일,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,종전 보증금,종전 임대료
0,2022,노원구,상계동,12.0,20221004,월세,33.87,2676,2,은빛3단지,1998.0,아파트,NaN,NaN
1,2022,용산구,후암동,2.0,20221004,전세,50.32,19845,0,(406-73),2008.0,연립다세대,NaN,NaN
2,2022,중랑구,묵동,12.0,20221004,월세,14.09,3000,49,로프트원태릉입구역,2020.0,아파트,NaN,NaN
3,2022,강동구,길동,4.0,20221004,월세,46.77,18900,4,(407-3),2010.0,연립다세대,NaN,NaN
4,2022,강서구,방화동,4.0,20221004,월세,39.76,16000,20,방화그린,1993.0,아파트,NaN,NaN

In [7]:
#건물용도에 아파트인 것들을 제외
df = df[df['건물용도']!='아파트']

In [8]:
df1 = df[df['전월세 구분']== '전세']
df2 = df[df['전월세 구분']== '월세']

In [9]:
df['전월세 구분'].value_counts()

월세    125242
전세    104664
Name: 전월세 구분, dtype: int64

In [10]:
df

,접수연도,자치구명,법정동명,층,계약일,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,종전 보증금,종전 임대료
1,2022,용산구,후암동,2.0,20221004,전세,50.32,19845,0,(406-73),2008.0,연립다세대,NaN,NaN
3,2022,강동구,길동,4.0,20221004,월세,46.77,18900,4,(407-3),2010.0,연립다세대,NaN,NaN
5,2022,은평구,불광동,3.0,20221004,전세,29.96,20000,0,소원노블레스,2018.0,연립다세대,NaN,NaN
6,2022,강서구,화곡동,3.0,20221004,전세,41.55,23000,0,송원캐슬,2017.0,연립다세대,NaN,NaN
9,2022,광진구,화양동,10.0,20221004,월세,16.08,1000,60,광진캠퍼스시티,2017.0,오피스텔,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376171,2022,관악구,신림동,NaN,20110216,월세,32.10,1000,35,NaN,1991.0,단독다가구,NaN,NaN
376172,2022,은평구,증산동,NaN,20110216,전세,33.81,4500,0,NaN,1990.0,단독다가구,NaN,NaN
376173,2022,강동구,천호동,NaN,20110119,전세,20.00,3800,0,NaN,1990.0,단독다가구,NaN,NaN
376174,2022,종로구,동숭동,3.0,20110110,월세,51.95,2500,35,(4-125),1998.0,연립다세대,NaN,NaN
376175,2022,도봉구,방학동,5.0,20110107,월세,57.88,17700,20,흥진아트빌(694-27),2003.0,연립다세대,NaN,NaN

In [110]:
df.isna().sum()

접수연도            0
자치구명           33
법정동명           33
층          114243
계약일             0
전월세 구분          0
임대면적(㎡)         0
보증금(만원)         0
임대료(만원)         0
건물명        114268
건축년도         6203
건물용도            0
종전 보증금     141059
종전 임대료     179972
dtype: int64

In [113]:
df.dtypes

접수연도         int64
자치구명        object
법정동명        object
층          float64
계약일          int64
전월세 구분      object
임대면적(㎡)    float64
보증금(만원)      int64
임대료(만원)      int64
건물명         object
건축년도       float64
건물용도        object
종전 보증금     float64
종전 임대료     float64
dtype: object

In [129]:
#종전보증금, 종전 임대료 nan값 제외, 0값제외
df = df[df['종전 보증금'].notna()]
df = df[df['종전 임대료'].notna()]
df = df[(df['종전 보증금']!=0) & (df['종전 임대료']!=0)]
df

,접수연도,자치구명,법정동명,층,계약일,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,종전 보증금,종전 임대료
122936,2022,강서구,마곡동,11.0,20220430,월세,23.84,500,60,엠코지니어스타,2015.0,오피스텔,500.0,57.0
123230,2022,은평구,대조동,10.0,20220430,월세,18.72,500,50,연신내역마에스트로,2013.0,오피스텔,500.0,50.0
124487,2022,은평구,진관동,10.0,20220429,월세,19.06,500,54,웅신 미켈란의아침,2017.0,오피스텔,500.0,54.0
124740,2022,마포구,성산동,7.0,20220429,월세,23.09,1000,67,KCC상암스튜디오380,2014.0,오피스텔,1000.0,65.0
124794,2022,양천구,목동,NaN,20220429,월세,91.79,10000,59,NaN,1994.0,단독다가구,10000.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364705,2022,송파구,문정동,5.0,20210602,월세,30.00,1000,82,송파푸르지오시티,2013.0,오피스텔,1000.0,78.0
364767,2022,동작구,사당동,4.0,20210601,월세,32.70,2000,57,\t(1007-19)\t,2002.0,오피스텔,6500.0,45.0
364837,2022,강남구,대치동,NaN,20210601,월세,60.00,20000,60,NaN,1997.0,단독다가구,20000.0,60.0
364850,2022,송파구,오금동,3.0,20210601,월세,14.37,500,50,미소빌딩,1990.0,연립다세대,500.0,50.0
364862,2022,금천구,가산동,4.0,20210601,월세,17.76,500,44,비즈트위트 바이올렛 5차,2014.0,오피스텔,500.0,44.0

In [130]:
df['자치구명'].value_counts()

송파구     1052
강서구      483
마포구      330
서초구      299
강남구      279
광진구      260
강동구      251
은평구      184
관악구      159
영등포구     150
중랑구      144
동작구      142
양천구      127
금천구      101
서대문구      92
용산구       92
성동구       91
동대문구      79
성북구       72
구로구       69
종로구       63
강북구       59
도봉구       38
중구        35
노원구       31
Name: 자치구명, dtype: int64

In [73]:
df = df[df['자치구명']=='송파구']

In [79]:
df

,접수연도,자치구명,법정동명,층,계약일,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도
77,2022,송파구,송파동,5.0,20221004,전세,17.36,20000,0,111-10,2016.0,연립다세대
86,2022,송파구,석촌동,4.0,20221004,전세,29.58,31920,0,에비앙하우스1,2018.0,연립다세대
118,2022,송파구,방이동,11.0,20221004,전세,27.48,35500,0,사보이시티잠실,2021.0,오피스텔
138,2022,송파구,송파동,3.0,20221004,전세,36.56,22000,0,(16-19),2003.0,연립다세대
174,2022,송파구,거여동,1.0,20221004,전세,64.15,26000,0,대영빌라B동,1993.0,연립다세대
...,...,...,...,...,...,...,...,...,...,...,...,...
376101,2022,송파구,풍납동,NaN,20110926,월세,28.33,3500,30,NaN,1988.0,단독다가구
376103,2022,송파구,방이동,NaN,20110922,월세,33.00,500,38,NaN,1987.0,단독다가구
376150,2022,송파구,가락동,NaN,20110504,월세,40.00,1000,35,NaN,1989.0,단독다가구
376161,2022,송파구,마천동,NaN,20110322,전세,56.13,6500,0,NaN,1976.0,단독다가구
376167,2022,송파구,가락동,3.0,20110302,월세,50.39,1500,60,무지개빌라,1991.0,연립다세대

In [82]:
df.isna().sum()

접수연도          0
자치구명          0
법정동명          0
층          4211
계약일           0
전월세 구분        0
임대면적(㎡)       0
보증금(만원)       0
임대료(만원)       0
건물명        4201
건축년도        454
건물용도          0
dtype: int64

In [ ]:
#음 월세 예측을 하는데에 있어서 필요한 컬럼만 골라내면
# 층,임대면적,보증금,건축년도,종전보증금.종전임대료