In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("data/서울시 부동산 전월세가 정보_2022.csv", encoding='cp949')
df.head()

C:\Users\ice_9\AppData\Local\Temp\ipykernel_4216\1116531002.py:1: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/서울시 부동산 전월세가 정보_2022.csv", encoding='cp949')

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
0,2022,11350,노원구,10500,상계동,1.0,대지,1264.0,0.0,12.0,...,2676,2,은빛3단지,1998.0,아파트,NaN,NaN,NaN,NaN,NaN
1,2022,11170,용산구,10100,후암동,1.0,대지,406.0,73.0,2.0,...,19845,0,(406-73),2008.0,연립다세대,NaN,NaN,NaN,NaN,NaN
2,2022,11260,중랑구,10400,묵동,1.0,대지,169.0,12.0,12.0,...,3000,49,로프트원태릉입구역,2020.0,아파트,NaN,NaN,NaN,NaN,NaN
3,2022,11740,강동구,10500,길동,1.0,대지,407.0,3.0,4.0,...,18900,4,(407-3),2010.0,연립다세대,NaN,NaN,NaN,NaN,NaN
4,2022,11500,강서구,10900,방화동,1.0,대지,839.0,0.0,4.0,...,16000,20,방화그린,1993.0,아파트,NaN,NaN,NaN,NaN,NaN

In [8]:
df['전월세 구분'].unique()

array(['월세', '전세'], dtype=object)

In [9]:
df_sub = df.loc[df['전월세 구분']=='월세']
df_sub.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
0,2022,11350,노원구,10500,상계동,1.0,대지,1264.0,0.0,12.0,...,2676,2,은빛3단지,1998.0,아파트,NaN,NaN,NaN,NaN,NaN
2,2022,11260,중랑구,10400,묵동,1.0,대지,169.0,12.0,12.0,...,3000,49,로프트원태릉입구역,2020.0,아파트,NaN,NaN,NaN,NaN,NaN
3,2022,11740,강동구,10500,길동,1.0,대지,407.0,3.0,4.0,...,18900,4,(407-3),2010.0,연립다세대,NaN,NaN,NaN,NaN,NaN
4,2022,11500,강서구,10900,방화동,1.0,대지,839.0,0.0,4.0,...,16000,20,방화그린,1993.0,아파트,NaN,NaN,NaN,NaN,NaN
8,2022,11710,송파구,11300,거여동,1.0,대지,202.0,180.0,3.0,...,3155,16,송파시그니처롯데캐슬,2021.0,아파트,NaN,NaN,NaN,NaN,NaN

In [10]:
df_sub['자치구명'].value_counts()

송파구     16437
관악구     14070
강남구     12654
마포구     10294
강서구     10220
동작구      9485
강동구      9305
광진구      9212
서초구      8640
동대문구     7054
영등포구     6927
노원구      6779
중랑구      6651
성북구      6537
은평구      6494
구로구      6404
성동구      5751
서대문구     5603
양천구      5175
금천구      4244
용산구      4006
강북구      3780
도봉구      3434
종로구      2467
중구       2440
Name: 자치구명, dtype: int64

In [11]:
songpa = df_sub.loc[df_sub['자치구명']=='송파구']
songpa.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
8,2022,11710,송파구,11300,거여동,1.0,대지,202.0,180.0,3.0,...,3155,16,송파시그니처롯데캐슬,2021.0,아파트,NaN,NaN,NaN,NaN,NaN
108,2022,11710,송파구,11100,방이동,1.0,대지,89.0,0.0,7.0,...,80000,30,올림픽선수기자촌1단지,1988.0,아파트,NaN,NaN,NaN,NaN,NaN
176,2022,11710,송파구,10300,풍납동,1.0,대지,163.0,0.0,5.0,...,12000,70,대아(제101상가동),1998.0,아파트,NaN,NaN,NaN,NaN,NaN
179,2022,11710,송파구,10300,풍납동,NaN,NaN,NaN,NaN,NaN,...,500,30,NaN,1993.0,단독다가구,NaN,NaN,NaN,NaN,NaN
231,2022,11710,송파구,10600,삼전동,1.0,대지,33.0,14.0,2.0,...,7750,26,삼전파크빌Ⅲ,2022.0,연립다세대,NaN,NaN,NaN,NaN,NaN

In [12]:
songpa['신규갱신여부'].value_counts()

신규    5002
갱신    2040
Name: 신규갱신여부, dtype: int64

In [13]:
songpa_gangsin = songpa.loc[songpa['신규갱신여부']=='갱신']
songpa_gangsin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2040 entries, 124577 to 364850
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   접수연도       2040 non-null   int64
 1   자치구코드      2040 non-null   int64
 2   자치구명       2040 non-null   object
 3   법정동코드      2040 non-null   int64
 4   법정동명       2040 non-null   object
 5   지번구분       1885 non-null   float64
 6   지번구분명      1885 non-null   object
 7   본번         1886 non-null   float64
 8   부번         1886 non-null   float64
 9   층          1885 non-null   float64
 10  계약일        2040 non-null   int64
 11  전월세 구분     2040 non-null   object
 12  임대면적(㎡)    2040 non-null   float64
 13  보증금(만원)    2040 non-null   int64
 14  임대료(만원)    2040 non-null   int64
 15  건물명        1886 non-null   object
 16  건축년도       2011 non-null   float64
 17  건물용도       2040 non-null   object
 18  계약기간       1907 non-null   object
 19  신규갱신여부     2040 non-null   object
 20  계약갱신권사용여부  944 non-null    object
 21  종전 보증금     2040 non-null   float64
 22  종전 임대료     2040 non-null   float64
dtypes: float64(8), int64(6), object(9)
memory usage: 382.5+ KB

월세-송파구-갱신

In [14]:
songpa_gangsin['부번'].unique()

array([ 0., 25.,  4., 20.,  3., nan,  9., 10.,  1., 17.,  2.,  8., 14.,
        5.,  7., 19., 23.,  6., 11., 12., 26., 13., 18., 45., 16., 24.,
       22., 31., 39., 15., 33., 29., 64., 21., 27., 36., 32., 41., 34.,
       28.])

층이 없는 건물은 단독다가구 -> 층의 null 값을 1로 변경

In [15]:
songpa_gangsin.loc[songpa_gangsin['층'].isnull(), '건물용도'].unique()

array(['단독다가구'], dtype=object)

In [16]:
songpa_gangsin['계약갱신권사용여부'].unique()

array(['○', nan], dtype=object)

계약갱신권컬럼 사용할거면 사용 한거 1 안한거 0으로 주고 하면 될듯?

In [17]:
songpa_gangsin['건물용도'].value_counts()

아파트      794
연립다세대    791
오피스텔     300
단독다가구    155
Name: 건물용도, dtype: int64

건물명을 쓰지 않기 위해서 아파트를 뺀다..?

In [18]:
len(songpa_gangsin.loc[songpa_gangsin['건물용도']=='아파트', '건물명'].value_counts())

120

In [19]:
len(songpa_gangsin['건물명'].value_counts())

764

In [20]:
len(songpa_gangsin['층'].value_counts())

39

건축년도가 건물명을 대체해줄수 있지 않을까?

In [21]:
songpa_gangsin['접수연도'].value_counts()

2022    2040
Name: 접수연도, dtype: int64

층이 없는 null 값 1로 채워줌

In [22]:
songpa_gangsin['층']=songpa_gangsin['층'].fillna(1)

C:\Users\ice_9\AppData\Local\Temp\ipykernel_4216\813166277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  songpa_gangsin['층']=songpa_gangsin['층'].fillna(1)

In [23]:
songpa_gangsin.isnull().sum()

접수연도            0
자치구코드           0
자치구명            0
법정동코드           0
법정동명            0
지번구분          155
지번구분명         155
본번            154
부번            154
층               0
계약일             0
전월세 구분          0
임대면적(㎡)         0
보증금(만원)         0
임대료(만원)         0
건물명           154
건축년도           29
건물용도            0
계약기간          133
신규갱신여부          0
계약갱신권사용여부    1096
종전 보증금          0
종전 임대료          0
dtype: int64

In [24]:
songpa_gangsin.loc[songpa_gangsin['건물명'].isnull(), '건물용도'].unique()

array(['단독다가구'], dtype=object)

In [25]:
len(songpa_gangsin['법정동명'].unique())

13

법정동은 일단 써보자

지번구분, 지번구분명, 본번, 부번, 건물명, 계약일(2022 데이터 사용하니까 일단 빼고 해봄), 전월세 구분, 계약기간, 신규갱신여부, 계약갱신권사용여부, 자치구코드, 자치구명<-본 데이터에서 할땐 넣는게 나을듯>, 법정동코드, 접수연도(일단 여기선빼고 하기)

In [26]:
songpa_train = songpa_gangsin.drop(['지번구분', '지번구분명', '본번', '부번', '건물명', '계약일', '전월세 구분', '계약기간', '신규갱신여부', '계약갱신권사용여부', '자치구코드', '자치구명', '법정동코드', '접수연도'], axis=1)
songpa_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2040 entries, 124577 to 364850
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   법정동명     2040 non-null   object
 1   층        2040 non-null   float64
 2   임대면적(㎡)  2040 non-null   float64
 3   보증금(만원)  2040 non-null   int64
 4   임대료(만원)  2040 non-null   int64
 5   건축년도     2011 non-null   float64
 6   건물용도     2040 non-null   object
 7   종전 보증금   2040 non-null   float64
 8   종전 임대료   2040 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 159.4+ KB

In [27]:
songpa_dum = pd.get_dummies(data = songpa_train, columns=['법정동명'])
songpa_dum.head(2)

,층,임대면적(㎡),보증금(만원),임대료(만원),건축년도,건물용도,종전 보증금,종전 임대료,법정동명_가락동,법정동명_거여동,...,법정동명_문정동,법정동명_방이동,법정동명_삼전동,법정동명_석촌동,법정동명_송파동,법정동명_신천동,법정동명_오금동,법정동명_잠실동,법정동명_장지동,법정동명_풍납동
124577,14.0,100.31,52000,50,1988.0,아파트,52000.0,40.0,0,0,...,0,1,0,0,0,0,0,0,0,0
125508,2.0,47.58,3000,85,2012.0,연립다세대,3000.0,85.0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [28]:
songpa_dum = songpa_dum.loc[songpa_dum['건물용도']!='아파트']

In [29]:
songpa_dum = pd.get_dummies(data = songpa_dum, columns=['건물용도'])

In [30]:
songpa_dum.head(2)

,층,임대면적(㎡),보증금(만원),임대료(만원),건축년도,종전 보증금,종전 임대료,법정동명_가락동,법정동명_거여동,법정동명_마천동,...,법정동명_석촌동,법정동명_송파동,법정동명_신천동,법정동명_오금동,법정동명_잠실동,법정동명_장지동,법정동명_풍납동,건물용도_단독다가구,건물용도_연립다세대,건물용도_오피스텔
125508,2.0,47.58,3000,85,2012.0,3000.0,85.0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
125700,2.0,67.56,22050,44,2002.0,19000.0,10.0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

건축년도 null값 제거

In [31]:
songpa_dum=songpa_dum.dropna()

In [32]:
songpa_dum = songpa_dum.loc[songpa_dum['종전 임대료']>0]

In [33]:
songpa_dum['종전 임대료'].value_counts()

50.0     72
60.0     63
30.0     61
40.0     55
70.0     52
         ..
132.0     1
175.0     1
150.0     1
97.0      1
16.0      1
Name: 종전 임대료, Length: 105, dtype: int64

In [34]:
songpa_dum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025 entries, 125508 to 364850
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   층           1025 non-null   float64
 1   임대면적(㎡)     1025 non-null   float64
 2   보증금(만원)     1025 non-null   int64
 3   임대료(만원)     1025 non-null   int64
 4   건축년도        1025 non-null   float64
 5   종전 보증금      1025 non-null   float64
 6   종전 임대료      1025 non-null   float64
 7   법정동명_가락동    1025 non-null   uint8
 8   법정동명_거여동    1025 non-null   uint8
 9   법정동명_마천동    1025 non-null   uint8
 10  법정동명_문정동    1025 non-null   uint8
 11  법정동명_방이동    1025 non-null   uint8
 12  법정동명_삼전동    1025 non-null   uint8
 13  법정동명_석촌동    1025 non-null   uint8
 14  법정동명_송파동    1025 non-null   uint8
 15  법정동명_신천동    1025 non-null   uint8
 16  법정동명_오금동    1025 non-null   uint8
 17  법정동명_잠실동    1025 non-null   uint8
 18  법정동명_장지동    1025 non-null   uint8
 19  법정동명_풍납동    1025 non-null   uint8
 20  건물용도_단독다가구  1025 non-null   uint8
 21  건물용도_연립다세대  1025 non-null   uint8
 22  건물용도_오피스텔   1025 non-null   uint8
dtypes: float64(5), int64(2), uint8(16)
memory usage: 80.1 KB

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(songpa_dum.drop('임대료(만원)', 1), songpa_dum['임대료(만원)'], random_state=0)

C:\Users\ice_9\AppData\Local\Temp\ipykernel_4216\1362039182.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x_train, x_test, y_train, y_test = train_test_split(songpa_dum.drop('임대료(만원)', 1), songpa_dum['임대료(만원)'], random_state=0)

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
model = LinearRegression().fit(x_train, y_train)
pred = model.predict(x_test)
mean_squared_error(y_test, pred)

27.456882320258508

In [37]:
import matplotlib.pyplot as plt
import numpy as np

In [38]:
(abs(y_test - pred)<10).mean()

0.9416342412451362

In [39]:
r2_score(y_test, pred)

0.9647452526538121

In [40]:
# x = np.arange(503)
# plt.figure(figsize=(20, 20))
# plt.plot(x, pred, color='r', label='pred')   # 예측값
# plt.scatter(x, y_test, label='data')   # 실제값
# plt.legend(fontsize=18)
# plt.show()

In [41]:
from sklearn.tree import DecisionTreeRegressor
treemodel = DecisionTreeRegressor(max_depth=5, random_state=0, min_samples_split=10).fit(x_train, y_train)
tree_pred = treemodel.predict(x_test)
mean_squared_error(y_test, tree_pred)

55.01330896625817

In [42]:
(abs(y_test - tree_pred)<10).mean()

0.9066147859922179

In [43]:
y_test.shape

(257,)

In [57]:
sampledata_y=y_test.iloc[[10],]
sampledata_y

221646    32
Name: 임대료(만원), dtype: int64

In [58]:
sampledata_x=x_test.iloc[[10],]
sampledata_x

,층,임대면적(㎡),보증금(만원),건축년도,종전 보증금,종전 임대료,법정동명_가락동,법정동명_거여동,법정동명_마천동,법정동명_문정동,...,법정동명_석촌동,법정동명_송파동,법정동명_신천동,법정동명_오금동,법정동명_잠실동,법정동명_장지동,법정동명_풍납동,건물용도_단독다가구,건물용도_연립다세대,건물용도_오피스텔
221646,4.0,48.01,4000,2012.0,4000.0,30.0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [59]:
model.predict(sampledata_x)

array([31.16332978])

In [47]:
from sklearn.linear_model import Lasso

alphas = [100, 10, 1, 0.1, 0.01, 0.001, 0.0001]

In [48]:
for alpha in alphas:
    lasso = Lasso(alpha=alpha)
    lasso.fit(x_train, y_train)
    pred = lasso.predict(x_test)
    add_model('Lasso(alpha={})'.format(alpha), pred, y_test)
plot_all()

NameError: name 'add_model' is not defined