In [1]:
import pandas as pd

In [3]:
dt.columns

Index(['Unnamed: 0', '접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명',
       '본번', '부번', '층', '계약일', '전월세 구분', '임대면적(㎡)', '보증금(만원)', '임대료(만원)',
       '건물명', '건축년도', '건물용도', '계약기간', '신규갱신여부', '계약갱신권사용여부', '종전 보증금',
       '종전 임대료'],
      dtype='object')

In [2]:
dt = pd.read_csv('data/20212022합침.csv')
dt.head()

C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\1712199490.py:1: DtypeWarning: Columns (19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  dt = pd.read_csv('data/20212022합침.csv')

,Unnamed: 0,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
0,0,2022,11350,노원구,10500,상계동,1.0,대지,1264.0,0.0,...,2676,2,은빛3단지,1998.0,아파트,NaN,NaN,NaN,NaN,NaN
1,1,2022,11170,용산구,10100,후암동,1.0,대지,406.0,73.0,...,19845,0,(406-73),2008.0,연립다세대,NaN,NaN,NaN,NaN,NaN
2,2,2022,11260,중랑구,10400,묵동,1.0,대지,169.0,12.0,...,3000,49,로프트원태릉입구역,2020.0,아파트,NaN,NaN,NaN,NaN,NaN
3,3,2022,11740,강동구,10500,길동,1.0,대지,407.0,3.0,...,18900,4,(407-3),2010.0,연립다세대,NaN,NaN,NaN,NaN,NaN
4,4,2022,11500,강서구,10900,방화동,1.0,대지,839.0,0.0,...,16000,20,방화그린,1993.0,아파트,NaN,NaN,NaN,NaN,NaN

In [4]:
dt_sub = dt[['접수연도', '자치구명', '법정동명','본번', '부번', '층','전월세 구분', '임대면적(㎡)', '보증금(만원)', '임대료(만원)',
       '건물명', '건축년도', '건물용도','신규갱신여부', '종전 보증금', '종전 임대료' ]]
dt_sub.isnull().sum()

접수연도            0
자치구명           33
법정동명           33
본번         275276
부번         275276
층          275526
전월세 구분          0
임대면적(㎡)         0
보증금(만원)         0
임대료(만원)         0
건물명        275485
건축년도        16174
건물용도            0
신규갱신여부     565262
종전 보증금     674883
종전 임대료     802113
dtype: int64

층, 건축년도, 종전 보증금, 종전 임대료 na값 -1로 채움  
건물명, 신규갱신여부 na값 정보없음으로 채움

In [11]:
# dt_sub['층'].fillna(-1, inplace=True)
# dt_sub['층'].isna().sum()

C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\2651084992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_sub['층'].fillna(-1, inplace=True)

0

자치구명, 법정동명, 본번, 부번 null값 다날리기

In [13]:
dt_sub.dropna(inplace=True)
dt_sub.isna().sum()

C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\2344723877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_sub.dropna(inplace=True)

접수연도       0
자치구명       0
법정동명       0
본번         0
부번         0
층          0
전월세 구분     0
임대면적(㎡)    0
보증금(만원)    0
임대료(만원)    0
건물명        0
건축년도       0
건물용도       0
신규갱신여부     0
종전 보증금     0
종전 임대료     0
dtype: int64

본번, 부번, 층 소수점 붙어있는거 보기 싫어서 int형으로 변경

In [18]:
dt_sub['본번'] = dt_sub['본번'].astype('int')
dt_sub['부번'] = dt_sub['부번'].astype('int')
dt_sub['층'] = dt_sub['층'].astype('int')
dt_sub.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\1522472706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_sub['본번'] = dt_sub['본번'].astype('int')
C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\1522472706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_sub['부번'] = dt_sub['부번'].astype('int')
C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\1522472706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_sub['층'] = dt_sub['층'].astype('int')

,접수연도,자치구명,법정동명,본번,부번,층,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,신규갱신여부,종전 보증금,종전 임대료
0,2022,노원구,상계동,1264,0,12,월세,33.87,2676,2,은빛3단지,1998.0,아파트,정보없음,-1.0,-1.0
1,2022,용산구,후암동,406,73,2,전세,50.32,19845,0,(406-73),2008.0,연립다세대,정보없음,-1.0,-1.0

In [19]:
dt_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625586 entries, 0 to 900861
Data columns (total 16 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   접수연도     625586 non-null  int64
 1   자치구명     625586 non-null  object
 2   법정동명     625586 non-null  object
 3   본번       625586 non-null  int32
 4   부번       625586 non-null  int32
 5   층        625586 non-null  int32
 6   전월세 구분   625586 non-null  object
 7   임대면적(㎡)  625586 non-null  float64
 8   보증금(만원)  625586 non-null  int64
 9   임대료(만원)  625586 non-null  int64
 10  건물명      625586 non-null  object
 11  건축년도     625586 non-null  float64
 12  건물용도     625586 non-null  object
 13  신규갱신여부   625586 non-null  object
 14  종전 보증금   625586 non-null  float64
 15  종전 임대료   625586 non-null  float64
dtypes: float64(4), int32(3), int64(3), object(6)
memory usage: 74.0+ MB

In [21]:
dt_sub['지번주소'] = '서울특별시 ' + dt_sub['자치구명']+' '+dt_sub['법정동명']+' '+dt_sub['본번'].astype('str')+'-'+dt_sub['부번'].astype('str')
dt_sub.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_26872\3293228991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_sub['지번주소'] = '서울특별시 ' + dt_sub['자치구명']+' '+dt_sub['법정동명']+' '+dt_sub['본번'].astype('str')+'-'+dt_sub['부번'].astype('str')

,접수연도,자치구명,법정동명,본번,부번,층,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,신규갱신여부,종전 보증금,종전 임대료,지번주소
0,2022,노원구,상계동,1264,0,12,월세,33.87,2676,2,은빛3단지,1998.0,아파트,정보없음,-1.0,-1.0,서울특별시 노원구 상계동 1264-0
1,2022,용산구,후암동,406,73,2,전세,50.32,19845,0,(406-73),2008.0,연립다세대,정보없음,-1.0,-1.0,서울특별시 용산구 후암동 406-73

In [22]:
dt_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625586 entries, 0 to 900861
Data columns (total 17 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   접수연도     625586 non-null  int64
 1   자치구명     625586 non-null  object
 2   법정동명     625586 non-null  object
 3   본번       625586 non-null  int32
 4   부번       625586 non-null  int32
 5   층        625586 non-null  int32
 6   전월세 구분   625586 non-null  object
 7   임대면적(㎡)  625586 non-null  float64
 8   보증금(만원)  625586 non-null  int64
 9   임대료(만원)  625586 non-null  int64
 10  건물명      625586 non-null  object
 11  건축년도     625586 non-null  float64
 12  건물용도     625586 non-null  object
 13  신규갱신여부   625586 non-null  object
 14  종전 보증금   625586 non-null  float64
 15  종전 임대료   625586 non-null  float64
 16  지번주소     625586 non-null  object
dtypes: float64(4), int32(3), int64(3), object(7)
memory usage: 78.8+ MB

In [ ]:
dt_sub.to_csv('data/지번주소 추가한 매물데이터.csv')